body {
    height: 100vh;
    width: 100vw;
    background-color: beige;
}

.container {
    display: block;
    background-color: rgb(243, 222, 194);
    height: 100vh;
}

.title-header {
    color: aquamarine;
}

.main {
    margin-top: 2rem;
    display: grid;
    background-color: rgb(219, 183, 253);
}

.div-who {
    display: flex;
}

.dropdown-div {
    width: 50%;
}

.result-div {
    box-sizing: border-box;
    border: 3px solid red;
    padding: 1rem 0.3rem;
    width: 50%;
}

.div-1 {
    height: 40px;
}

.dic-2 {
    height: 100%;
    align-items: flex-start;
}

.drop-down {
    position: absolute;
    top: 80px;
    grid-row: 2/1;
    background-color: rgb(142, 245, 245);
}