body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.container {
    display: block;
    height: 100vh;
    min-width: 97%;
}

.title {
    text-align: center;
    color: #0269D9;
}

.main {
    margin-top: 1rem;
    width: 99%;
}

.div-who {
    display: flex;
}

.dropdown-div {
    width: 30%;
    margin: 1rem;
}

.result-div {
    box-sizing: border-box;
    border: 2px solid #0269D9;
    border-radius: 10px;
    padding: 1rem 0.3rem;
    width: 40%;
    margin: 1rem;
}

.div-1 {
    height: 40px;
}

.div-2 {
    height: 100%;
}

.drop-down {
    position: absolute;
    top: 80px;
    grid-row: 2/1;
}

span {
    font-weight: bold;
}

.total_deaths span {
    color: red;
}

.total_recovered span {
    color: rgb(0, 173, 0);
}

@media only screen and (max-width: 600px) {
    .div-who {
        display: block;
        margin-left: -1rem;
    }
    .dropdown-div {
        width: 98%;
    }
    .result-div {
        width: 98%;
    }
    .div-1 {
        display: block;
        word-wrap: break-word;
        min-height: 3.5rem;
    }
    .div-2 {
        margin-top: 1rem;
    }
}